In [1]:
import pandas as pd
import numpy as np

df_uts=pd.read_csv('D:\Semester 5\Pembelajaran Mesin\Project UTS\Dataset UTS_Gasal 2425.csv')
df_uts.head(20)

,squaremeters,numberofrooms,hasyard,haspool,floors,citycode,citypartrange,numprevowners,made,isnewbuilt,hasstormprotector,basement,attic,garage,hasstorageroom,hasguestroom,price,category
0,75523,3,no,yes,63,9373,3,8,2005,old,yes,4313,9005,956,no,7,7559081.5,Luxury
1,55712,58,no,yes,19,34457,6,8,2021,old,no,2937,8852,135,yes,9,5574642.1,Middle
2,86929,100,yes,no,11,98155,3,4,2003,new,no,6326,4748,654,no,10,8696869.3,Luxury
3,51522,3,no,no,61,9047,8,3,2012,new,yes,632,5792,807,yes,5,5154055.2,Middle
4,96470,74,yes,no,21,92029,4,2,2011,new,yes,5414,1172,716,yes,9,9652258.1,Luxury
5,79770,3,no,yes,69,54812,10,5,2018,old,yes,8871,7117,240,no,7,7986665.8,Luxury
6,75985,60,yes,no,67,6517,6,9,2009,new,yes,4878,281,384,yes,5,7607322.9,Luxury
7,64169,88,no,yes,6,61711,3,9,2011,new,yes,3054,129,726,no,9,6420823.1,Middle
8,92383,12,no,no,78,71982,3,7,2000,old,no,7507,9056,892,yes,1,9244344.0,Luxury
9,95121,46,no,yes,3,9382,7,9,1994,old,no,615,1221,328,no,10,9515440.4,Luxury
10,76485,47,yes,no,9,90254,2,9,2008,new,no,2860,3129,982,no,1,7653300.8,Luxury
11,87060,27,no,yes,91,51803,8,10,2000,old,no,6629,435,512,no,7,8711426.0,Luxury
12,66683,19,yes,yes,6,50801,6,2,2001,old,no,7473,796,237,yes,3,6677649.1,Middle
13,84559,29,no,yes,69,53057,7,7,2000,new,no,3573,9556,918,yes,8,8460604.0,Luxury
14,76091,38,yes,no,32,59451,5,8,2016,new,no,8150,6037,930,no,7,7614076.6,Luxury
15,92696,49,yes,no,38,74381,9,2,2021,old,no,1559,5111,957,yes,2,9272740.1,Luxury
16,59800,47,no,yes,27,44815,6,9,2021,old,no,5075,3104,864,no,4,5984462.1,Middle
17,54836,25,no,yes,53,64601,10,5,2020,new,no,5278,1059,313,yes,6,5492532.0,Middle
18,70021,52,yes,no,28,95678,4,6,1992,old,yes,4480,6919,680,yes,1,7005572.2,Luxury
19,54368,11,yes,yes,20,55761,3,7,2021,old,no,231,1939,223,no,8,5446398.1,Middle

In [2]:
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import StratifiedKFold

print("\nPengecekan nilai missing values (null, kosong, NaN):")
missing_values = df_uts.isnull().sum()
empty_strings = (df_uts == '').sum()
nan_values = df_uts.isna().sum()

print("\nMissing values per column:\n", missing_values)
print("\nKolom dengan string kosong:\n", empty_strings)
print("\nNaN values per column:\n", nan_values)

df_uts_numeric = df_uts.select_dtypes(include=['number']) 

Q1 = df_uts_numeric.quantile(0.25)
Q3 = df_uts_numeric.quantile(0.75)
IQR = Q3 - Q1

outliers = ((df_uts_numeric < (Q1 - 1.5 * IQR)) | (df_uts_numeric > (Q3 + 1.5 * IQR))).sum()
print("\nOutlier per column:\n", outliers)

duplicates = df_uts.duplicated().sum()
print(f"\nJumlah data duplikat: {duplicates}")

categorical_columns = df_uts.select_dtypes(include=['object']).columns
label_encoders = {}

for col in categorical_columns:
    le = LabelEncoder()
    df_uts[col] = le.fit_transform(df_uts[col].astype(str)) 
    label_encoders[col] = le

print("\nData setelah diubah menjadi numerik:\n", df_uts.head())


target = 'category' 
class_distribution = df_uts[target].value_counts()
print("\nDistribusi kelas:\n", class_distribution)

X = df_uts 
y = df_uts[target]  

skf = StratifiedKFold(n_splits=5)

for fold, (train_index, test_index) in enumerate(skf.split(X, y)):
    print(f"\nFold {fold + 1}: {len(train_index)} data latih, {len(test_index)} data uji")

Pengecekan nilai missing values (null, kosong, NaN):

Missing values per column:
 squaremeters         0
numberofrooms        0
hasyard              0
haspool              0
floors               0
citycode             0
citypartrange        0
numprevowners        0
made                 0
isnewbuilt           0
hasstormprotector    0
basement             0
attic                0
garage               0
hasstorageroom       0
hasguestroom         0
price                0
category             0
dtype: int64

Kolom dengan string kosong:
 squaremeters         0
numberofrooms        0
hasyard              0
haspool              0
floors               0
citycode             0
citypartrange        0
numprevowners        0
made                 0
isnewbuilt           0
hasstormprotector    0
basement             0
attic                0
garage               0
hasstorageroom       0
hasguestroom         0
price                0
category             0
dtype: int64

NaN values per column:
 squaremeters         0
numberofrooms        0
hasyard              0
haspool              0
floors               0
citycode             0
citypartrange        0
numprevowners        0
made                 0
isnewbuilt           0
hasstormprotector    0
basement             0
attic                0
garage               0
hasstorageroom       0
hasguestroom         0
price                0
category             0
dtype: int64

Outlier per column:
 squaremeters     0
numberofrooms    0
floors           0
citycode         0
citypartrange    0
numprevowners    0
made             0
basement         0
attic            0
garage           0
hasguestroom     0
price            0
dtype: int64

Jumlah data duplikat: 0

Data setelah diubah menjadi numerik:
    squaremeters  numberofrooms  hasyard  haspool  floors  citycode  \
0         75523              3        0        1      63      9373
1         55712             58        0        1      19     34457
2         86929            100        1        0      11     98155
3         51522              3        0        0      61      9047
4         96470             74        1        0      21     92029

   citypartrange  numprevowners  made  isnewbuilt  hasstormprotector  \
0              3              8  2005           1                  1
1              6              8  2021           1                  0
2              3              4  2003           0                  0
3              8              3  2012           0                  1
4              4              2  2011           0                  1

   basement  attic  garage  hasstorageroom  hasguestroom      price  category
0      4313   9005     956               0             7  7559081.5         1
1      2937   8852     135               1             9  5574642.1         2
2      6326   4748     654               0            10  8696869.3         1
3       632   5792     807               1             5  5154055.2         2
4      5414   1172     716               1             9  9652258.1         1

Distribusi kelas:
 category
0    4344
1    3065
2    2591
Name: count, dtype: int64

Fold 1: 8000 data latih, 2000 data uji

Fold 2: 8000 data latih, 2000 data uji

Fold 3: 8000 data latih, 2000 data uji

Fold 4: 8000 data latih, 2000 data uji

Fold 5: 8000 data latih, 2000 data uji

In [6]:
target = 'category' 

features_to_drop = ['price']

X = df_uts.drop(columns=features_to_drop)
y = df_uts[target]

print("\nFitur (X) shape:", X.shape)
print("Target (y) shape:", y.shape)

print("\nFitur (X) setelah penghapusan kolom Harga:\n", X.head())
print("\nTarget (y):\n", y.head())  

skf = StratifiedKFold(n_splits=5)

for fold, (train_index, test_index) in enumerate(skf.split(X, y)):
    print(f"\nFold {fold + 1}: {len(train_index)} data latih, {len(test_index)} data uji")

Fitur (X) shape: (10000, 17)
Target (y) shape: (10000,)

Fitur (X) setelah penghapusan kolom Harga:
    squaremeters  numberofrooms  hasyard  haspool  floors  citycode  \
0         75523              3        0        1      63      9373
1         55712             58        0        1      19     34457
2         86929            100        1        0      11     98155
3         51522              3        0        0      61      9047
4         96470             74        1        0      21     92029

   citypartrange  numprevowners  made  isnewbuilt  hasstormprotector  \
0              3              8  2005           1                  1
1              6              8  2021           1                  0
2              3              4  2003           0                  0
3              8              3  2012           0                  1
4              4              2  2011           0                  1

   basement  attic  garage  hasstorageroom  hasguestroom  category
0      4313   9005     956               0             7         1
1      2937   8852     135               1             9         2
2      6326   4748     654               0            10         1
3       632   5792     807               1             5         2
4      5414   1172     716               1             9         1

Target (y):
 0    1
1    2
2    1
3    2
4    1
Name: category, dtype: int32

Fold 1: 8000 data latih, 2000 data uji

Fold 2: 8000 data latih, 2000 data uji

Fold 3: 8000 data latih, 2000 data uji

Fold 4: 8000 data latih, 2000 data uji

Fold 5: 8000 data latih, 2000 data uji

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

def train_test_split_custom(X, y, test_size, random_state=99):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=random_state, stratify=y)

    print(f"\nTrain-test split dengan rasio {int((1 - test_size) * 100)}:{int(test_size * 100)}")
    print(f"Jumlah data latih: {len(X_train)}")
    print(f"Jumlah data uji: {len(X_test)}\n")
    
    return X_train, X_test, y_train, y_test

split_ratios = [0.2, 0.25, 0.3]

for ratio in split_ratios:
    X_train, X_test, y_train, y_test = train_test_split_custom(X, y, test_size=ratio, random_state=99)

Train-test split dengan rasio 80:20
Jumlah data latih: 8000
Jumlah data uji: 2000


Train-test split dengan rasio 75:25
Jumlah data latih: 7500
Jumlah data uji: 2500


Train-test split dengan rasio 70:30
Jumlah data latih: 7000
Jumlah data uji: 3000

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier  # Contoh model
from sklearn.metrics import accuracy_score  # Metode evaluasi

# Menentukan target dan fitur yang akan dihapus
target = 'category'  # Kolom target
features_to_drop = ['price']  # Kolom yang akan dihapus dari fitur

# Menentukan fitur (X) dan target (y)
X = df_uts.drop(columns=features_to_drop)  # Hapus kolom 'price' dari fitur
y = df_uts[target]  # Target adalah kolom 'category'

# Melakukan encoding pada target jika belum dilakukan
if y.dtype == 'object':
    le = LabelEncoder()
    y = le.fit_transform(y)

# Fungsi untuk melakukan train-test split dan mengukur performa model
def evaluate_model(X, y, test_size, random_state=99):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=random_state, stratify=y)

    # Melatih model RandomForest (atau model lain yang Anda pilih)
    model = RandomForestClassifier(random_state=random_state)
    model.fit(X_train, y_train)

    # Prediksi pada data uji
    y_pred = model.predict(X_test)

    # Mengukur akurasi
    accuracy = accuracy_score(y_test, y_pred)
    
    print(f"\nTrain-test split dengan rasio {int((1 - test_size) * 100)}:{int(test_size * 100)}")
    print(f"Jumlah data latih: {len(X_train)}, Jumlah data uji: {len(X_test)}")
    print(f"Akurasi pada data uji: {accuracy:.4f}\n")
    
    return accuracy

# Uji beberapa rasio train-test split
split_ratios = [0.2, 0.25, 0.3]
best_accuracy = 0
best_ratio = None

for ratio in split_ratios:
    accuracy = evaluate_model(X, y, test_size=ratio, random_state=99)
    if accuracy > best_accuracy:
        best_accuracy = accuracy
        best_ratio = ratio

print(f"Rasio terbaik berdasarkan akurasi: {int((1 - best_ratio) * 100)}:{int(best_ratio * 100)} dengan akurasi {best_accuracy:.4f}")

Train-test split dengan rasio 80:20
Jumlah data latih: 8000, Jumlah data uji: 2000
Akurasi pada data uji: 1.0000


Train-test split dengan rasio 75:25
Jumlah data latih: 7500, Jumlah data uji: 2500
Akurasi pada data uji: 1.0000


Train-test split dengan rasio 70:30
Jumlah data latih: 7000, Jumlah data uji: 3000
Akurasi pada data uji: 1.0000

Rasio terbaik berdasarkan akurasi: 80:20 dengan akurasi 1.0000